- if item.on_sale?
  %p{class: "#{css_block}__price"}
    %span{class: "#{css_block}__label" } #{t('workarea.storefront.orders.price_now')}:
    %strong{ data: { ge_basket_productsaleprice: "" } }= number_to_currency(item.original_unit_price)
  %p{class: "#{css_block}__price"}
    %span{class: "#{css_block}__label" } #{t('workarea.storefront.orders.price_was')}:
    %s{ data: { ge_basket_productlistprice: "" } }= number_to_currency(item.original_price)
- else
  %p{class: "#{css_block}__price" }
    %span{ data: { ge_basket_productsaleprice: "" } }= number_to_currency(item.original_unit_price)
- if item.customized?
  %p{class: "#{css_block}__price"}
    %span{class: "#{css_block}__label" } #{t('workarea.storefront.orders.customizations')}:
    %span{ data: { ge_customizations_price: "" } }= number_to_currency(item.customizations_unit_price)
